@font-face {
    font-family: "Odin";
    src: url("../Norse-Bold.otf");
}

:root {
    --main-color: steelblue;
    --main-dark-color: rgb(21, 72, 113);
    --light-color: white;
    --dark-color: black;
    --valid-color: rgb(43, 155, 43);
    --invalid-color: red;
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--main-color);
}

.field-holder {
    --first-name-error: "";
    --last-name-error: "";
    --email-error: "";
    --phone-error: "";
    --password-error: "";
    --password-confirmation-error: "";
}

.field-holder::before {
    color: red;
    margin-top: 28px;
    position: absolute;
    font-size: 0.85rem;
}

.field-holder[firstname]::before {
    content: var(--first-name-error);
}

.field-holder[lastname]::before {
    content: var(--last-name-error);
}

.field-holder[email]::before {
    content: var(--email-error);
}

.field-holder[phone]::before {
    content: var(--phone-error);
}

.field-holder[password]::before {
    content: var(--password-error);
}

.field-holder[passwordconfirmation]::before {
    content: var(--password-confirmation-error);
}

button {
    border-color: var(--main-dark-color);
    border-style: solid;
    background: linear-gradient(var(--main-color), var(--main-dark-color), var(--main-color));
    background-size: 100% 200%;
    background-position: top;
    color: var(--light-color);
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
}

input {
    padding: 2px;
    width: 200px;
}

button:hover, button:focus {
    background-position: bottom;
    border-color: var(--main-color);
    outline: none;
}

button:active {
    box-shadow: 2px 2px 5px var(--main-color);
}

.container {
    display: flex;
    min-height: 100svh;
}

.container > div, .container > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image-container {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 400px;
    max-width: max(40vw, 720px);
}

.logo {
    height: 5rem;
}

.logo-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5px 0 5px 0;
    width: 100%;
}

.logo-container > h1 {
    color: var(--light-color);
    font-family: "Odin";
    line-height: 0.8rem;
    max-height: 100%;
    margin: 0;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.image-container > p {
    position: absolute;
    bottom: 0;
    color: var(--light-color);
    font-size: 0.8rem;
}

.image-container > p > a {
    color: var(--light-color);    
}

.form-container {
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(245, 245, 245);
}

.form-side-container {
    padding: 1rem;
    height: 100%;
}

.form-side-container:first-child {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.form-side-container:last-child {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.form-side-container:nth-child(2) {
    box-shadow: 0px 3px 6px lightgray;
    background-color: var(--light-color);
}

.form-side-container h2 {
    font-weight: 500;
}

.form-side-container > form {
    display: flex;
    flex-direction: column;
}

.field-holder {
    position: relative;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.field-holder > label:not([checkbox]) {
    position: absolute;
    left: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: gray;
}

.field-holder > label[checkbox] {
    font-size: 0.9rem;
}

.field-holder > input {
    border-width: 0px 0px 2px 0px;
    border-color: gray;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.field-holder > input:focus {
    border-color: var(--main-color);
    /* outline-style: dotted; */
    outline: none;
}

.field-holder > input:not([type="checkbox"]):focus + label, .field-holder > input:not([type="checkbox"]):not(:placeholder-shown) + label, .field-holder > input:not([type="checkbox"]):-webkit-autofill + label {
    font-size: 0.9rem;
    top: calc(-0.9rem - 6px);
    color: var(--main-color);
}

.field-holder > input:not(:placeholder-shown):valid + label {
    color: var(--valid-color);
}

.field-holder > input:not(:placeholder-shown):valid {
    border-color: var(--valid-color);
}

.field-holder > input:not(:placeholder-shown):invalid + label {
    color: var(--invalid-color);
}

.field-holder > input:not(:placeholder-shown):invalid {
    border-color: var(--invalid-color);
}

.field-holder > input:not([type="checkbox"]):not(:placeholder-shown):valid + label {
    color: var(--valid-color);
}

.field-holder > input:not([type="checkbox"]):not(:placeholder-shown):invalid + label {
    color: var(--invalid-color);
}

.field-holder-pair {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.login {
    font-size: 0.9rem;
}

.field-holder > input[required] + label::after {
    content: " *";
}

@media screen and (max-width: 900px) {
    .field-holder-pair {
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 525px) {
    .field-holder-pair {
        flex-direction: column;
        gap: 0;
    }
    .form-container {
        margin-right: 0;
        align-items: center;
    }
}